
<a class="btn btn-info"></a>
<div *ngFor="let item of usrobj" >
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>

<a routerLink="./form2" routerLinkActive="active">form2</a>

<router-outlet></router-outlet>
<app-form2></app-form2>
<ul>
 
///////////////////////////////////////////////////////////
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        {{personName}}
      </div>
      <div class="col-4">
        {{userList1[0]}}  {{userList1[1]}}
      </div>
      <div class="col-4">
        {{userList2[0].name}}
      </div>
    </div>
  </div>
  
</ul>

<hr>
<div class="row">
  <div class="col-12 ng-info">
    <input type="text" class="form-control" (keyup)="test()">
  </div>
</div>

<hr>
<div class="row">
  <div class="col-6 bg-danger">
    <span (click)="changeColor()">سلام به همه</span>
  </div>
  <div class="col-6 " [class.bg-primary]="colorChanger">
    mm
  </div>
</div>


<hr>
<div class="row p-5">
  <div class="col-3">
    <input type="text" class="form-control" [(ngModel)]="firstname" (keydown)="printFirstName()">
  </div>
</div>

<hr>






<div class="row p-5 m-5">
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Search"  [(ngModel)]="listname" >
  </div>
</div>


<div class="container">
  <table class="table table-dark  table-striped">
    <thead>
      <tr>
      <th>name</th>
      <th>lastname</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of searchList()">
        <td>{{ person.name }}</td>
        <td>{{ person.lastname }}</td>
      </tr>
  </tbody>
  </table>
</div>

<hr>
<hr>
/////////////////////////////////////////////////////////////////////////////////////////////////
<hr>
<div class="d-flex justify-content-start align-items-between">
<div class="d-flex justify-content-evenly flex-wrap">
<div *ngFor="let card of cards; let i = index" [style.display]="cardDisplay(i)" class="card" style="width: 18rem;" >
  <img class="card-img-top" [src]="card.Image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{card.title}}</h5>
    <p class="card-text">{{card.Text}}</p>
    <a [href]="card.link" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
<button class="btn btn-primary ms-3" (click)="plusIndex()">+</button>
</div>
///////////////////////////////////////////////////////////////////////////////////
<div class="container">
  <input class="form-control" [(ngModel)]="nameOfList">
  <button class="btn btn-info mt-2" (click)="addInfo()">submit</button>
</div>
<br>
<br>
<br>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
    <th>FirstName and LastName</th>
    </tr>
  </thead>
  <tbody *ngFor="let data of table">
    <tr>
    <td>{{data}}</td>
    <button class="btn btn-info" (click)="DeleteData()">Delete</button>
  </tr>
  </tbody>
</table>
</div>


